
@font-face {
  font-family: "openSans";
  src: url("./fonts/OpenSans.ttf");
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root{
  font-size: 16px;
  font-family: "openSans";
}

body{
  &.dialog-open{
    opacity: 0.2;
  }
}

header{
  background-color: #03346E;

  >h1{
    padding: 4px 4px 4px 4px;
    font-weight: 500;
    color: white;
  }
}

main{
  /* background-color: #021526; */
  padding: 32px;

  >h2{
    color: white;
    margin-bottom: 24px;
    font-weight: 500;
  }

  >div.dialog-container{
    >dialog{
      position: fixed;
      top: 20%;
      left: 40%;
      /* padding: 8px; */
      border: 0;
      &#addProjectDialog{
        width: 300px;
        height: 200px;
        
        >h2{
          margin-bottom: 16px;
          font-weight: 500;
          border-bottom: 1px solid #03346E;
          padding: 4px;
          background-color: #03346E;
          color: white;
        }

        >form{
          padding: 8px;
          >input{
            padding: 8px;
            width: 90%;
            margin-bottom: 16px;
            border: 1px solid rgb(24, 24, 24);
            border-radius: 4px;
          }

          >div{
            >button{
              border: 1px solid rgb(24, 24, 24);
              padding: 4px;
              border-radius: 4px;

              &:hover{
                background-color: #03346E;
                color: white;
              }
            }
          }
        }
      }
    }
  }

  >div.projects-container{
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    columns: 8px;
    row-gap: 32px; */

    >div.project{
      width: 400px;
      height: 600px;
      border: 4px solid black;
      border-radius: 8px;
      padding: 8px;

      >div.project-todo-list{

        >div.todo{

        }
      }
    }

    >button.add-project-btn{
      width: 400px;
      height: 600px;
      background-color: rgb(24, 24, 24);
      border: 4px solid #6EACDA;
      border-radius: 8px;
  
      &:hover{
        background-color: #021526;
      }
    }
  }

}

body{
  background-color: #021526;
}